{% extends "base.html" %}

{% block title %}网安捷通-存储改配实用工具{% endblock %}

{% block content %}
<div class="usage-info">
    <h5>程序简介</h5>
    <p>本程序主要用于快速制作存储产品改配时所需的标签、产品装机单、附件清单等。通过使用本程序，可以提高工作效率并降低人为复制粘贴导致的错误。</p>
    <h5>使用提示</h5>
    <p>标签打印：</p>
    <p>在生成的结果页面使用Win+P快捷键调用打印对话框。</p>
    <p>打印页边距：设置上下左右均为2mm</p>
    <p>打印缩放：包装标签90% 、设备标签93%</p>
    <p>装箱单以及附件清单打印：</p>
    <p>另存为PDF文件，保存后使用Adobe Acrobat DC进行打印。</p>
    <h5>版本信息</h5>
    <p>Version：{{app_version}}</p>
</div>
{% endblock %}